html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    image-rendering: pixelated; /* retro RTS vibe */
}